body {
    margin: 0%;
}

.navbar {

    width: 100%;
    background: black;
    padding: 15px 20px;
    gap: 50px;
    
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.class2 {
    height: 100vh;
    background-image: url("https://www.w3schools.com/w3images/coffeehouse.jpg");
    background-size:cover;
    background-position: center;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 60px;
    text-shadow: 2px 2px 10px black;
}

.section {
    padding: 80px 20px;
    text-align: center;
}


.class1 {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px 0;
    
}

.class4 img {
    width: 300px;
    height: 200px;
    background-size: cover;

    border-radius: 8px;
    
}

.class3{
    width: 100%;
    max-height: 400px;
    background-size: cover;
    border-radius: 8px;
    margin-top: 20px;
}


.footer {
    background: black;
    color: white;
    padding: 20px;
    text-align: center;
}